<!DOCTYPE html>
<html lang="en">
    <!-- adding comments -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huntober</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<!-- BODY -->
<body>

    <div class="container">
        <!-- CONTENT -->
        <div class="content">
            <h1 class="header-text">How will you handle Huntober?</h1>
            <h3>Sign up for a checklist that will help keep you on top of what needs to be done and when everything is due. </h3>
            <div class="btns">
                <a href="/signup" class="btn">Signup</a>
                <a href="/login" class="btn">Login</a>
            </div>
            
        </div>
          
        <!-- FOOTER -->
        <footer class="footer">
            <div>
                Created by: <span class="bold"><a href="https://github.com/ramblingadam">Adam</a></span>, <span class="bold"><a href="https://github.com/andiedoescode">Andrea</a></span>, <span class="bold"><a href="https://github.com/atlasmac">Atlas</a></span>, <span class="bold"><a href="https://github.com/racheleckenrod">Rachel</a></span>, and <span class="bold"><a href="https://github.com/Harry-Ashenden">Harry</a></span>
            </div>
            Photo by <a href="https://unsplash.com/@ewitsoe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Erik Witsoe</a> on <a href="https://unsplash.com/s/photos/autumn-forest?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </footer>
    </div>
    
  

</body>


</html>