<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/signup.css">
    <title>Huntober - Sign Up</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="container">
        <div class="content">
            <h1 class="header-text">Sign Up</h1>
        <form action="/signup" method="POST">
            <div class="row form-row">
                <input type="text" name="userName" placeholder="User Name">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="row form-row">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmPassword" placeholder="Confirm Password">
            </div>
            <div class="row submit-row">
                <input class="btn submit-btn" type="submit">
            </div>
         
        </form>
        </div>
        
         <!-- FOOTER -->
         <footer class="footer">
            <div class="footer">
                Created by: <span class="bold"><a href="https://github.com/ramblingadam">Adam</a></span>, <span class="bold"><a href="https://github.com/andiedoescode">Andrea</a></span>, <span class="bold"><a href="https://github.com/atlasmac">Atlas</a></span>, <span class="bold"><a href="https://github.com/racheleckenrod">Rachel</a></span>, and <span class="bold"><a href="https://github.com/Harry-Ashenden">Harry</a></span>
            </div>
            Photo by <a href="https://unsplash.com/@ewitsoe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Erik Witsoe</a> on <a href="https://unsplash.com/s/photos/autumn-forest?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </footer>

    </div>
   
</body>
</html>