

.content h3{
    /* color: white; */
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    /* text-align: justify; */
}

a {
    color: white;
    /* font-size: 6rem; */
    text-decoration: none;
    /* margin-left: 1rem; */
}

footer {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: auto;
    bottom: 0;
}

footer div a {
    padding: 0 1rem 0 1rem
}