h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

h2:last-of-type {
  margin-bottom: 0;
}


.bold {
  /* font-variant: small-caps; */
  font-weight: bold;
  color: var(--heading-color);
  /* text-shadow: var(--text-shadow); */
  text-shadow: 0 0 1px black, -1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, 1px 1px 1px black;
}

/* ! CATEGORIES */
.categories-wrapper {
  width: 100%;
}

.categories {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

}

.category.btn {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  padding: .75rem .5rem .5rem .5rem;
}

/* ! TASKS TABLE */
table {
  width: 100%;
  text-align: left;
}

/* // Rows */
.task-row {
  cursor: pointer;
}

thead {
  font-weight: bold;
}


/* // Cells */
.task-row td {
  padding: 1rem 1rem 1rem 0;
}
.task-row td:last-of-type {
  padding-right: 0;
}

.actions-cell {
  text-align: center;
}

.task-row:hover {
  text-shadow: 0 0 3px var(--heading-color);
}
.task-row:hover .actions-cell {
  text-shadow: none;
}
.del:hover {
  text-shadow: 0 0 1px red, 0 0 2px red;
}

/* ! REMAINING TODOS */
h2.remaining-todos {
  margin-bottom: 1rem;
}



/* ! NEW TODO FORM */
input:not(input[type='submit']) {
  width: 100%;
  font-size: 2rem;
}

.logout-btn {
  font-size: 2rem;

  margin: 1rem .5rem .5rem .5rem;
  padding: 1.25rem 1rem 1rem 1rem;

  flex: 1;
}